<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <title>Budget Show</title>
</head>
<body>
    <h1>Budget Details</h1>
    <div class = "container">
    <table>
        <tr>
          <th>Date</th>
          <th>Budget Name</th>
          <th>From</th>
          <th>Amount $</th>
          <th>Tags</th>
          </tr>
        
        <tr>
          <td><%=budgets.name %></td>
          <td><%=budgets.date %></td>
          <td><%=budgets.from %></td>
          <td>$<%=budgets.amount %></td>
          <td><%=budgets.tags %></td>
 
      </tr>
      </table>
      <button><a href="/budgets/">All Budgets</a> </button>
    </div>
 
</body>
</html>