<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    <title>Budget Index</title>
</head>
<h1>Budget index page</h1>

<div class = "container">
  <h1>Budgets ALL</h1>



    <table>
      <tr>
        <th>Date</th>
        <th>Budget Name</th>
        <th>From</th>
        <th>Amount $</th>
        <th>Tags</th>
        </tr>
      <% for(let i = 0; i < allBudget.length; i++) { %>
     
        <tr>
        <td><%=allBudget[i].date %></td>
        <td><a href="/budgets/<%=i%>"><%=allBudget[i].name %></a></td>
        <td><%=allBudget[i].from %></td>
        <td>$<%=allBudget[i].amount %></td>
        <td><%=allBudget[i].tags %></td>
      <% } %>
    </tr>
    </table>
    <button href="/budgets">Back</button>
  </div>
</html>